@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


.custom-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; 
}