@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  @apply bg-white text-neutral-800 dark:bg-neutral-900 dark:text-neutral-200;
}
.custom-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; 
}