@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg-primary: #fda4af;   
  --bg-card: #ffffff;
  --text-primary: #4c0519; 
  --text-secondary: #9f1239; 
  --accent: #f43f5e;       
  --accent-hover: #e11d48; 
  --border: #fecdd3;       
}

.dark {
  --bg-primary: #1b0f14;
  --bg-card: #2d1b24;
  --text-primary: #fde7f0;
  --text-secondary: #f9a8d4;
  --accent: #fb7185;       
  --accent-hover: #fda4af; 
  --border: #603443;
}


.custom-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; 
}