@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
   --bg-main: #fda4af;
   --bg-container: #ffffff;
  
   --border: #f5f5f5 ;

   --text-main: #525252;
   --text-secondary: #2c2c2c;

   --text-primary: #4c0519;
   /* --text-secondary: #9f1239; */
   --accent: #fb7185;
   --accent-hover: #ff6179 ;
}

.dark {
   --bg-main: #36031f;
   --bg-container: #18000b;

   --border: #130009;

   --text-main: #e7e7e7;
   --text-secondary: #ffffff;

   --text-primary: #fde7f0;
   /* --text-secondary: #f9a8d4; */
   --accent: #36031f;
   --accent-hover: #fda4af;
}

.custom-scrollbar {
   scrollbar-width: none;
   -ms-overflow-style: none;
}

.custom-scrollbar::-webkit-scrollbar {
   display: none;
}
