@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg-primary: #fda4af;   /* rose-200 */
  --bg-card: #ffffff;
  --text-primary: #4c0519; /* rose-950 تقریباً */
  --text-secondary: #9f1239; /* rose-800 */
  --accent: #f43f5e;       /* rose-500 */
  --accent-hover: #e11d48; /* rose-600 */
  --border: #fecdd3;       /* rose-300 */
}

.dark {
  --bg-primary: #1b0f14;
  --bg-card: #2d1b24;
  --text-primary: #fde7f0;
  --text-secondary: #f9a8d4;
  --accent: #fb7185;       /* rose-400 */
  --accent-hover: #fda4af; /* rose-200 ← اینجا همون رنگ اصلی برند می‌درخشه! */
  --border: #603443;
}


.custom-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; 
}